/*Whole document styling begins*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.navigation, .aboutme, .work, .contactme{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.navigation ul, .contactme ul {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*Navigation styling begins*/

/*Hero styling begins*/
.hero img{
    border-radius: 15px;
    
}
.hero {
    background-image: url('./assets/img/herocropped.jpg');
}
/*aboutme styling begins*/


/*Footer styling begins */
